name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
    
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
    
    - name: Install
      run: npm install --legacy-peer-deps
    
    - name: Build
      run: npm run build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        cname: dhwaneetbhatt.com
